extends ../plantilla

block contenido

	- if (error)
			div(class="row mb-4")
				div(class="alert alert-warning alert-dismissible fade show col-sm-6 mx-auto text-center" role="alert")
					strong Por favor ingresa todos los campos requeridos
					button(type="button" class="close" data-dismiss="alert" aria-label="Close")
						span(aria-hidden="true") &times;

	div(class="col-md-6 mx-auto")
		div(class="card")
			div(class="card-header text-center bg-info text-white")
				h4(class="card-title") Agregar Usuario
			form(action="/usuarios-guardar" method="POST")
				div(class="card-body")
					div(class="form-group row")
						label(for="nombre_usuario" class="col-sm-4 col-form-label")
							h5 Nombre:
						div(class="col-sm-7")
							input(type="text" class="form-control" autofocus name="nombre_usuario")
					div(class="form-group row")
						label(for="email" class="col-sm-4 col-form-label")
							h5 Email:
						div(class="col-sm-7")
							input(type="email" class="form-control" name="email")
					div(class="form-group row")
						label(for="usuario" class="col-sm-4 col-form-label")
							h5 NickName:
						div(class="col-sm-7")
							input(type="usuario" class="form-control" name="usuario")
					div(class="form-group row")
						label(for="contrasena" class="col-sm-4 col-form-label")
							h5 Contraseña:
						div(class="col-sm-7")
							input(type="password" class="form-control" name="contrasena")
					div(class="form-group row")
						label(for="contrasena2" class="col-sm-4 col-form-label")
							h5 Comfirme su Contraseña:
						div(class="col-sm-7")
							input(type="password" class="form-control" name="contrasena2")
				
				
					div(class="form-group row")
						div(class="col-sm-6 mx-auto")
							button(type="submit" class="btn btn-success mr-3") Agregar..
							buton(type="reset" class="btn btn-warning ml-3") Cancelar..
